body{
    background-image: url("background.jpg");
    background-size: 100% 100%;

}

#wrapper{
    margin: 20px;
    padding : 20px;
    background-color: #fffffa;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#table-wrapper{
    width: 534px;
    overflow-x:scroll;
    margin-left:45em;
    overflow-y:visible;
    padding-bottom:1px;
    white-space: nowrap;
}

#header-time-sheet{
    width: 1161px;
    height: 95px;
}

#header-time-sheet > .btn-group{
    float:right;
}



    .table.time-sheet-table{
        width: 100%;
        font-weight: bolder;
    }

        .table.time-sheet-table > tbody > tr{
            height: 70px;
        }

            .table.time-sheet-table > tbody > tr > td > input{
                width : 60px;
                height: 35px;
                text-align: center;
            }

                .table.time-sheet-table > tbody > tr > td > span{
                    color : #858585;
                }

            .table.time-sheet-table > tbody > tr > *:nth-child(2){
                text-overflow:ellipsis;
            }

            .table.time-sheet-table > tbody > tr > td > p{
                overflow: hidden;
                text-overflow: ellipsis;
            }

.fixcol1{
    position : absolute;
    max-width: 15em;
    min-width: 15em;
    left : 40px;


}

.fixcol2{
    position : absolute;
    max-width: 30em;
    min-width: 30em;
    left : 251px;
}

.input-not-empty{
    border:solid;
    border-width: 3px;
    border-color : #158bd5;
}






